@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    --background: #d9d9d9;
    --foreground: #000000;
  }
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-primary: #36d0d3;
  --color-primary-50: #86e3e5;
  --font-noto-sans-kr: "NotoSansKR Variable", sans-serif;
}

body {
  font-family: var(--font-noto-sans-kr), sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.emoji-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
}

.emoji-container-item {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
}
